.quiz-review {
    margin: auto;
    width: 50%;
}

.percentage-bar {
    display: flex;
    flex-direction: row;
}

.score-box {
    margin: auto;
    width: 692px;
    height: 184px;
    background: #F2F2F2;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}
.score-box h3 {
    /* Blue 1 */
    color: #2F80ED;
    padding-top: 30px;
}

.qa-box {
    margin: auto;
    margin-top: 20px;
    background-color: #F2F2F2;
    height: 500px;
    width: 700px;
    overflow-y: scroll;
}

.qa-box-tile {
    background-color: white;
    height: 300px;
    margin: 40px;
    padding: 15px;
}

.qa-box-tile h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}

.qa-box-options {
    text-align: center;
}