.courseItem {
  position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #4274F3;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
  }

.courseItem:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-color: navy;
  cursor: pointer;
}

.deleteButton {
  position: relative;
  top: 35px;
  width: 65px;
  height: 40px;
  background-color: #F21E1D;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 10%;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
}


form {
  position: relative;
  top:50px;
  margin:auto;
  text-align: center;
  padding-left: 100 px;
}

.submitbutton {
  vertical-align: middle;
  position: relative;
  margin:auto;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #F21E1D;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 1px solid #F21E1D;
}

.courseInput {
  color: #4274F3;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding-right:5px;
}

h3 {
  color: #4274F3;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 27px;
}

p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.btn {
  text-align: center;
}

ul {
  color: #fff;
  padding-left:0;
}