.rubric {
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
}

.reqCheckButton {
    width: 40px;
    height: 40px;
    background-color: rgb(212, 212, 212);
    top: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 30%;
    align-items: center; 
    margin: auto; 
  }
  
  .requirement {
    display:grid;
    grid-template-columns:4fr 1fr;
    background-color: #95bdf8;
    border: 1px;
    align-items: center;
    justify-items: flex-start ;
    padding: 0;
    margin: 0;
  }
  
  .requirement:nth-child(odd)  {
    display:grid;
    grid-template-columns:4fr 1fr;
    background-color: #869ec5;
    border: 1px;
    align-items: center;
    justify-items: flex-start ;
    padding: 0;
    margin: 0;
  }
  
  .requirement h1{
    display :block;
    color: black;
    font-size: 20px;
    align-items: center;
    width: auto;
    justify-items: flex-start ;
  }
  
  .requirementDone {
    display:grid;
    grid-template-columns:4fr 1fr;
    background-color: rgb(140, 207, 140);
    border: 1px;
    align-items: center;
    justify-items: flex-start ;
    padding: 0;
    margin: 0;
  }
  
  .requirementDone:nth-child(odd) {
    display:grid;
    grid-template-columns:4fr 1fr;
    background-color: rgb(125, 189, 125);
    border: 1px;
    align-items: center;
    justify-items: flex-start ;
    padding: 0;
    margin: 0;
  }
  
  .requirementDone h1{
    display :block;
    color: black;
    font-size: 20px;
    align-items: center;
    justify-items: flex-start ;
    width: auto;
  }

.header {
    justify-content: center;
    padding: 20px;
    margin: 20px;
    position: relative;
    top: 20px;
}
.header h1 {
    color: #4274F3;
    text-align: center;
    margin: auto;
    font-size: 44px;
    vertical-align: middle;
    font-weight: bolder;
    position: relative;
    top: -50px;
}
.header button {
    position: relative;
    top: 0px;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #4274F3;
    border-radius: 10px;
    border-color: #4274F3;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.headerButtons {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}

.requirementsList {
    background-color: grey;
    color: black;
    grid-column:2/3;
}

.requirementsList h1 {
    color: black;
}

.page {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 2em;
    width: 60%;
}
.page h3 {
    color: rgb(64, 66, 77);
    font-size: 18px;
    font-weight: lighter;
}
.tasks img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tasks video {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.taskBlock {
    margin-top: 2em;
    margin-bottom: 2em;
}