ul {
  
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  padding: 20px;
  margin-top: 50px;
  background-color: #CFDCFC;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  align-items: center;
}

.card h1 {
  width: 100%;
}

.targetGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
  grid-gap: 5em;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  padding-top: 2em;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.detailsTableGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  padding-top: 2em;
}

.targetDetailsHeaderGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 2em;
}