body{
    background-color: #ffffff;
 }

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    color: #4274F3;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center; 
    vertical-align: middle;
    padding-top: 20px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000;    
    text-align: center;
    vertical-align: middle;
}

.logo {
  padding-top: 2em;
  font-size: 60px;
}

.loginPage {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* Navigation Bar */
.navbar {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4274F3;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    float: left;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    display: block;
    color: white;
    text-align: center;    
    text-decoration: none;
}

.navbar li {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    float: right;
    padding: 0px 16px;
    padding-top: 18px;
}

.navbar button {
  padding: 0;
  float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;    
    text-decoration: none;
}

  
.navbar li a:hover {
    text-decoration: underline;
}

/* Button */
button {
  position: relative;
  top: 110px;
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #4274F3;
  border-radius: 10px;
  border-color: #4274F3;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.signOutButton {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #F21E1D;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 1px solid #F21E1D;
}